In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_parquet('./data/fhv_tripdata_2021-01.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            195845 non-null   float64
 4   DOlocationID            991892 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 61.6+ MB

## Answer 1: We have `1154112` records in the January dataset

In [3]:
df.head(5)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [4]:
df['duration'] = df.dropOff_datetime - df.pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

In [5]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,15.216667

In [6]:
df['duration'].mean()

19.167224093791006

## Answer 2: `19.16` minutes

In [7]:
df_new = df[(df.duration >= 1) & (df.duration <= 60)]

len(df) - len(df_new)

44286

## Data Prep Answer: We dropped `44,286` values

In [8]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109826 entries, 0 to 1154111
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1109826 non-null  object
 1   pickup_datetime         1109826 non-null  datetime64[ns]
 2   dropOff_datetime        1109826 non-null  datetime64[ns]
 3   PUlocationID            182818 non-null   float64
 4   DOlocationID            961919 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1109053 non-null  object
 7   duration                1109826 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 76.2+ MB

In [9]:
df = df_new.fillna(-1)

len(df[df['PUlocationID'] == -1]) / len(df) * 100

83.52732770722618

## Answer 3: Fraction of missing values ~ `83%`

In [10]:
features = ["PUlocationID", "DOlocationID"]
target = "duration"

train_dicts = df[features].to_dict(orient='records')

dv = DictVectorizer()

X_train = dv.fit_transform(train_dicts)

y_train = df[target]
X_train.shape

(1109826, 2)

## Answer 4: Matrix has dimensionality of `2`

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

11.415432830521663

## Answer 5: `11.42`

In [12]:
def read_dataframe(filename):
    if filename.endswith('.csv'):
        df = pd.read_csv(filename)

        df.dropOff_datetime = pd.to_datetime(df.dropOff_datetime)
        df.pickup_datetime = pd.to_datetime(df.pickup_datetime)
    elif filename.endswith('.parquet'):
        df = pd.read_parquet(filename)

    df['duration'] = df.dropOff_datetime - df.pickup_datetime
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

    df = df[(df.duration >= 1) & (df.duration <= 60)]
    
    df = df.fillna("-1")

    features = ["PUlocationID", "DOlocationID"]
    df[features] = df[features].astype(str)
    
    return df

In [13]:
df_train = read_dataframe('./data/fhv_tripdata_2021-01.parquet')
df_val = read_dataframe('./data/fhv_tripdata_2021-02.parquet')

In [14]:
len(df_train), len(df_val)

(1109826, 990113)

In [15]:
dv = DictVectorizer()

train_dicts = df_train[features].to_dict(orient='records')
X_train = dv.fit_transform(train_dicts)

val_dicts = df_val[features].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [16]:
target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

In [17]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

11.014285828610237

## Answer 6: RMSE on Validation: `11.01`